<!DOCTYPE html>
<html ng-controller="adminCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/admin/index.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/pnotify.min.css">

<!--     // <script src="../assets/js/prefixfree.min.js" type="text/javascript"></script>
    // <script type="text/javascript" src="../assets/js/jquery.js"></script>
    // <script type="text/javascript" src="../assets/js/pnotify.min.js"></script>
    // <script type="text/javascript" src="../config.js"></script>
    // <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    // <script type="text/javascript" src="../assets/js/angular.js"></script>
    // <script src="../assets/js/ui-router.js" type="text/javascript"></script> -->
    <title ng-bind="title">管理主页</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DoddCMS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/">管理主页</a></li>
                    <li><a href="#!/settings">个人设置</a></li>
                    <!-- <li><a href="#">帮助</a></li> -->
                    <li><a href="#!/">欢迎你！&nbsp;&nbsp;<strong ng-bind="userName"></strong></a></li>
                    <li><a href="logout.html">退出</a></li>
                </ul>
                <!-- <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form> -->
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ng-repeat="link in navLinks">
                        <a href="#"></a>
                    </li>
                    <!-- <li class="active"><a href="#">Overview </a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li> -->
                    <div class="nav-model active" ng-repeat="x in navList">
                        <div class="nav-model-header"><span class="fa {{ adminPages[x.title].icon}}"></span>&nbsp;{{adminPages[x.title].name}}</div>
                        <ul class="nav-model-list">
                            <li ng-repeat="y in x.nav" ui-sref-active="active"><a ui-sref="{{adminPages[y].url}}">{{adminPages[y].name}}</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
    <div class="load-cover">
        <div class='base'>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
            <div class='cube'></div>
        </div>
    </div>
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>您还未登录，请先登录！</strong>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="userName">帐号</label>
                            <input type="text" class="form-control" id="userName" placeholder="用户名" ng-model="userName">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">密码</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="密码" ng-model="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="loginSubmit" ng-click="login()" class="btn btn-primary">登录</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</body>
<script type="text/javascript">var deps=['view/admin/index'];</script>
<script data-main="../js/app.js" src="../assets/js/require.js"></script>

</html>
