<div ng-show="!userName">
	请从用户列表转跳到此页面!
</div>
<div ng-show="userName">
	<h3 class="text-center">{{userName}} 角色分配</h3>
	<div id="toolbar">
    	<div class="form-inline btn-group" role="form" ng-hide="canAddrole">
        	<button id="add" type="button" class="btn btn-default" ng-click="showAdd()"><span class="glyphicon glyphicon-plus"></span></button>
    	</div>
	</div>
	<table id='UserRoleTable' class="UserRoleTable" bs-table-control="tableCtrl"></table>
	<!-- Modal -->
	<div class="modal fade" id="addAndEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <form>
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title" id="myModalLabel">分配角色</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="form-group">
	                        <label for="roleName">角色名称</label>
	                        <select class="form-control" ng-model="datax.selectRole" placeholder="角色名称" ng-options="role as role.DESC for role in roleList track by role.roleId">
	                        </select>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="submit" class="btn btn-primary" ng-click="addAndEditRoleBtn()">提交</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <form>
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title" id="deleteModalLabel">删除角色</h4>
	                </div>
	                <div class="modal-body">
	                    <input type="hidden" ng-model='roleId' class="form-control" name='roleId' id="roleId">
	                    <h3>你确定要删除该项目(将无法撤销)</h3>
	                </div>
	                <div class="modal-footer">
	                    <button type="submit" class="btn btn-danger" ng-click="deleteUserRoleBtn()">确定删除</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
</div>
